### Validation and cleaning of data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
income_expenditure_df = pd.read_csv('Income-Expenditure.csv')
dietary_habits_df = pd.read_csv('Dietary Habits Survey Data.csv')
food_prices_df = pd.read_csv('Food_Prices_Dimension_Table.csv')

#### Income and expenditure dataframe

In [4]:
income_expenditure_df.head(10)

,Mthly_HH_Income,Mthly_HH_Expense,No_of_Fly_Members,Emi_or_Rent_Amt,Annual_HH_Income,Highest_Qualified_Member,No_of_Earning_Members
0,5000,8000,3,2000,64200,Under-Graduate,1
1,6000,7000,2,3000,79920,Illiterate,1
2,10000,4500,2,0,112800,Under-Graduate,1
3,10000,2000,1,0,97200,Illiterate,1
4,12500,12000,2,3000,147000,Graduate,1
5,14000,8000,2,0,196560,Graduate,1
6,15000,16000,3,35000,167400,Post-Graduate,1
7,18000,20000,5,8000,216000,Graduate,1
8,19000,9000,2,0,218880,Under-Graduate,1
9,20000,9000,4,0,220800,Under-Graduate,2

In [5]:
income_expenditure_df.shape

(50, 7)

In [6]:
income_expenditure_df.dtypes

Mthly_HH_Income              int64
Mthly_HH_Expense             int64
No_of_Fly_Members            int64
Emi_or_Rent_Amt              int64
Annual_HH_Income             int64
Highest_Qualified_Member    object
No_of_Earning_Members        int64
dtype: object

In [7]:
income_expenditure_df.describe()

,Mthly_HH_Income,Mthly_HH_Expense,No_of_Fly_Members,Emi_or_Rent_Amt,Annual_HH_Income,No_of_Earning_Members
count,50.000000,50.000000,50.000000,50.000000,5.000000e+01,50.000000
mean,41558.000000,18818.000000,4.060000,3060.000000,4.900190e+05,1.460000
std,26097.908979,12090.216824,1.517382,6241.434948,3.201358e+05,0.734291
min,5000.000000,2000.000000,1.000000,0.000000,6.420000e+04,1.000000
25%,23550.000000,10000.000000,3.000000,0.000000,2.587500e+05,1.000000
50%,35000.000000,15500.000000,4.000000,0.000000,4.474200e+05,1.000000
75%,50375.000000,25000.000000,5.000000,3500.000000,5.947200e+05,2.000000
max,100000.000000,50000.000000,7.000000,35000.000000,1.404000e+06,4.000000

In [8]:
income_expenditure_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Mthly_HH_Income           50 non-null     int64
 1   Mthly_HH_Expense          50 non-null     int64
 2   No_of_Fly_Members         50 non-null     int64
 3   Emi_or_Rent_Amt           50 non-null     int64
 4   Annual_HH_Income          50 non-null     int64
 5   Highest_Qualified_Member  50 non-null     object
 6   No_of_Earning_Members     50 non-null     int64
dtypes: int64(6), object(1)
memory usage: 2.9+ KB

In [9]:
income_expenditure_df.isna().sum()

Mthly_HH_Income             0
Mthly_HH_Expense            0
No_of_Fly_Members           0
Emi_or_Rent_Amt             0
Annual_HH_Income            0
Highest_Qualified_Member    0
No_of_Earning_Members       0
dtype: int64

#### Dietary habits dataframe

In [11]:
dietary_habits_df.head()

,Age,Gender,How many meals do you have a day? (number of regular occasions in a day when a significant and reasonably filling amount of food is eaten),What would best describe your diet:,Choose all that apply: [I skip meals],Choose all that apply: [I experience feelings of hunger during the day],Choose all that apply: [I consult a nutritionist/dietician],Choose all that apply: [I cook my own meals],What would you consider to be the main meal of YOUR day?,What does your diet mostly consist of and how is it prepared?,...,What is your weekly food intake frequency of the following food categories: [Meat],What is your weekly food intake frequency of the following food categories: [Seafood ],How frequently do you consume these beverages [Tea],How frequently do you consume these beverages [Coffee],How frequently do you consume these beverages [Aerated (Soft) Drinks],How frequently do you consume these beverages [Fruit Juices (Fresh/Packaged)],"How frequently do you consume these beverages [Dairy Beverages (Milk, Milkshakes, Smoothies, Buttermilk, etc)]",How frequently do you consume these beverages [Alcoholic Beverages],"What is your water consumption like (in a day, 1 cup=250ml approx)",
0,18-24,Male,5,Pollotarian (Vegetarian who consumes poultry a...,Rarely,Often,Never,Sometimes,Lunch,Freshly home-cooked produce,...,Often,Often,Never,Never,Less often,Never,Less often,Never,More than 15 cups,NaN
1,18-24,Male,4,Vegetarian (No egg or meat),Rarely,Often,Rarely,Rarely,Lunch,Freshly home-cooked produce,...,Never,Never,Less often,Never,Often,Once a day,Often,Never,11-14 cups,NaN
2,45-54,Male,3,Pescatarian (Vegetarian who consumes only seaf...,Never,Rarely,Never,Never,All,Freshly home-cooked produce,...,Never,Often,Once a day,Less often,Never,Less often,Once a day,Never,More than 15 cups,NaN
3,18-24,Male,2,Non-Vegetarian,Often,Often,Never,Sometimes,Lunch,Freshly home-cooked produce,...,Once a day,Few times a week,Few times a week,Once a day,Once a month,Once a month,Few times a week,Never,7-10 cups,NaN
4,18-24,Female,3,Eggetarian (Vegetarian who consumes egg and eg...,Sometimes,Sometimes,Never,Often,Breakfast,Freshly home-cooked produce,...,Never,Never,Never,Never,Once a month,Once a month,Once a day,Once a month,4-6 cups,NaN

In [12]:
dietary_habits_df.shape

(78, 27)

In [ ]:
dietary_habits_df.dtypes

In [ ]:
dietary_habits_df.columns

In [14]:
dietary_habits_df.describe()

,How many meals do you have a day? (number of regular occasions in a day when a significant and reasonably filling amount of food is eaten),How many times a week do you order-in or go out to eat?,
count,78.000000,78.000000,0.0
mean,3.128205,1.897436,NaN
std,0.651850,1.223044,NaN
min,2.000000,1.000000,NaN
25%,3.000000,1.000000,NaN
50%,3.000000,1.500000,NaN
75%,3.000000,2.000000,NaN
max,5.000000,7.000000,NaN

In [ ]:
dietary_habits_df.isna().sum()

In [30]:
dietary_habits_df = dietary_habits_df.drop(columns=[' '])

In [42]:
for col in ['Age','Gender',
'How many meals do you have a day? (number of regular occasions in a day when a significant and reasonably filling amount of food is eaten)',
'What would best describe your diet:']:
    print("--------------------------------")
    print(dietary_habits_df[col].value_counts())

--------------------------------
Age
18-24       49
Under 18    15
45-54        8
Above 65     3
35-44        3
Name: count, dtype: int64
--------------------------------
Gender
Male      40
Female    38
Name: count, dtype: int64
--------------------------------
How many meals do you have a day? (number of regular occasions in a day when a significant and reasonably filling amount of food is eaten)
3    50
4    16
2    10
5     2
Name: count, dtype: int64
--------------------------------
What would best describe your diet:
Non-Vegetarian                                                                  29
Vegetarian (No egg or meat)                                                     22
Eggetarian (Vegetarian who consumes egg and egg products)                       15
Pollotarian (Vegetarian who consumes poultry and white meat but no red meat)     6
Pescatarian (Vegetarian who consumes only seafood)                               3
Pollo-pescetarian (Vegetarian who consumes seafood and white meat)               3
Name: count, dtype: int64

In [51]:
for col_2 in ['Choose all that apply: [I skip meals]',
            'Choose all that apply: [I experience feelings of hunger during the day]',
            'Choose all that apply: [I consult a nutritionist/dietician]',
            'Choose all that apply: [I cook my own meals]',
            'What would you consider to be the main meal of YOUR day?',
            'What does your diet mostly consist of and how is it prepared?']:
    print("------------------------------------------")
    print(dietary_habits_df[col_2].value_counts())

------------------------------------------
Choose all that apply: [I skip meals]
Rarely             31
Sometimes          23
Never              14
Often               8
Very frequently     2
Name: count, dtype: int64
------------------------------------------
Choose all that apply: [I experience feelings of hunger during the day]
Sometimes          32
Often              19
Rarely             17
Never               6
Very frequently     4
Name: count, dtype: int64
------------------------------------------
Choose all that apply: [I consult a nutritionist/dietician]
Never        63
Rarely       12
Sometimes     2
Often         1
Name: count, dtype: int64
------------------------------------------
Choose all that apply: [I cook my own meals]
Sometimes          20
Rarely             19
Never              15
Very frequently    15
Often               9
Name: count, dtype: int64
------------------------------------------
What would you consider to be the main meal of YOUR day?
Lunch        44
Breakfast    23
Dinner       10
All           1
Name: count, dtype: int64
------------------------------------------
What does your diet mostly consist of and how is it prepared?
Freshly home-cooked produce                   75
Restaurant meals                               2
Pre-cooked, microwave (ready-to-eat) meals     1
Name: count, dtype: int64

In [52]:
for col_3 in ['How many times a week do you order-in or go out to eat?',
              'Are you allergic to any of the following? (Tick all that apply)']:
       print("------------------------------------------") 
       print(dietary_habits_df[col_3].value_counts())

------------------------------------------
How many times a week do you order-in or go out to eat?
1    39
2    22
3     9
4     4
5     3
7     1
Name: count, dtype: int64
------------------------------------------
Are you allergic to any of the following? (Tick all that apply)
I do not have any allergies    68
Milk                            2
Onion                           1
Curd                            1
Leafy Vegetables                1
Peanuts and Tree Nuts           1
Fish                            1
Deep Fried Food                 1
Corn                            1
Shellfish, Eggplant             1
Name: count, dtype: int64

In [53]:
for col_4 in ['What is your weekly food intake frequency of the following food categories: [Sweet foods]',
              'What is your weekly food intake frequency of the following food categories: [Salty foods]',
              'What is your weekly food intake frequency of the following food categories: [Fresh fruit]',
              'What is your weekly food intake frequency of the following food categories: [Fresh vegetables]',
              'What is your weekly food intake frequency of the following food categories: [Oily, fried foods]',
              'What is your weekly food intake frequency of the following food categories: [Meat]',
              'What is your weekly food intake frequency of the following food categories: [Seafood ]']:
       print("------------------------------------------") 
       print(dietary_habits_df[col_4].value_counts())

------------------------------------------
What is your weekly food intake frequency of the following food categories: [Sweet foods]
Few times a week       31
Once a day             21
Once a month           13
Several times a day     6
Never                   4
Often                   1
Less often              1
In every meal           1
Name: count, dtype: int64
------------------------------------------
What is your weekly food intake frequency of the following food categories: [Salty foods]
Few times a week       25
Several times a day    17
Once a day             17
In every meal          11
Once a month            4
Never                   3
Often                   1
Name: count, dtype: int64
------------------------------------------
What is your weekly food intake frequency of the following food categories: [Fresh fruit]
Once a day             34
Several times a day    16
Few times a week       13
In every meal           8
Once a month            4
Less often              2
Never                   1
Name: count, dtype: int64
------------------------------------------
What is your weekly food intake frequency of the following food categories: [Fresh vegetables]
In every meal          30
Once a day             21
Several times a day    20
Few times a week        6
Often                   1
Name: count, dtype: int64
------------------------------------------
What is your weekly food intake frequency of the following food categories: [Oily, fried foods]
Few times a week       41
Once a month           15
Once a day             11
Several times a day     5
Never                   2
Less often              2
Often                   1
In every meal           1
Name: count, dtype: int64
------------------------------------------
What is your weekly food intake frequency of the following food categories: [Meat]
Never                  37
Few times a week       17
Once a month           10
Once a day              7
In every meal           4
Several times a day     2
Often                   1
Name: count, dtype: int64
------------------------------------------
What is your weekly food intake frequency of the following food categories: [Seafood ]
Never                  45
Once a month           16
Few times a week       12
Often                   2
Once a day              2
Several times a day     1
Name: count, dtype: int64

In [54]:
for col_5 in ['How frequently do you consume these beverages [Tea]',
                'How frequently do you consume these beverages [Coffee]',
                'How frequently do you consume these beverages [Aerated (Soft) Drinks]',
                'How frequently do you consume these beverages [Fruit Juices (Fresh/Packaged)]',
                'How frequently do you consume these beverages [Dairy Beverages (Milk, Milkshakes, Smoothies, Buttermilk, etc)]',
                'How frequently do you consume these beverages [Alcoholic Beverages]',
                'What is your water consumption like (in a day, 1 cup=250ml approx)']:
        print("------------------------------------------") 
        print(dietary_habits_df[col_5].value_counts())

------------------------------------------
How frequently do you consume these beverages [Tea]
Never                  31
Once a day             23
Once a month           11
Few times a week       10
Several times a day     2
Less often              1
Name: count, dtype: int64
------------------------------------------
How frequently do you consume these beverages [Coffee]
Never                  21
Few times a week       20
Once a day             17
Once a month           14
Several times a day     5
Less often              1
Name: count, dtype: int64
------------------------------------------
How frequently do you consume these beverages [Aerated (Soft) Drinks]
Once a month        33
Never               23
Few times a week    17
Once a day           3
Often                1
Less often           1
Name: count, dtype: int64
------------------------------------------
How frequently do you consume these beverages [Fruit Juices (Fresh/Packaged)]
Few times a week       28
Once a month           26
Never                  13
Once a day              9
Less often              1
Several times a day     1
Name: count, dtype: int64
------------------------------------------
How frequently do you consume these beverages [Dairy Beverages (Milk, Milkshakes, Smoothies, Buttermilk, etc)]
Once a day             27
Few times a week       26
Once a month            9
Never                   7
Several times a day     5
With every meal         2
Less often              1
Often                   1
Name: count, dtype: int64
------------------------------------------
How frequently do you consume these beverages [Alcoholic Beverages]
Never               58
Once a month        15
Few times a week     5
Name: count, dtype: int64
------------------------------------------
What is your water consumption like (in a day, 1 cup=250ml approx)
7-10 cups            31
4-6 cups             24
11-14 cups           11
More than 15 cups     9
Less than 3 cups      3
Name: count, dtype: int64

#### Food prices dataframe

In [18]:
food_prices_df.head(10)

,EFPG_code,EFPG_name,Tier 1 group,Tier 2 group
0,10000,Whole-grain breads,Grains,"Whole-grain breads, cereal, rice, pasta, and f..."
1,10025,Whole-grain rice and pasta,Grains,"Whole-grain breads, cereal, rice, pasta, and f..."
2,10050,Whole-grain breakfast grains,Grains,"Whole-grain breads, cereal, rice, pasta, and f..."
3,10075,"Whole-grain flour, bread mixes, and frozen dough",Grains,"Whole-grain breads, cereal, rice, pasta, and f..."
4,15000,Non-whole-grain breads,Grains,"Non-whole-grain breads, cereal, rice, pasta, a..."
5,15025,Non-whole-grain rice and pasta,Grains,"Non-whole-grain breads, cereal, rice, pasta, a..."
6,15050,Non-whole-grain breakfast grains,Grains,"Non-whole-grain breads, cereal, rice, pasta, a..."
7,15075,"Non-whole-grain flour, bread mixes, and frozen...",Grains,"Non-whole-grain breads, cereal, rice, pasta, a..."
8,20000,"Potatoes, fresh",Vegetables,Potatoes
9,20075,"Potatoes, canned",Vegetables,Potatoes

In [19]:
food_prices_df.shape

(90, 4)

In [20]:
food_prices_df.dtypes

EFPG_code        int64
EFPG_name       object
Tier 1 group    object
Tier 2 group    object
dtype: object

In [67]:
duplicate_code = food_prices_df.duplicated(subset='EFPG_code', keep=False)
food_prices_df[duplicate_code]

,EFPG_code,EFPG_name,Tier 1 group,Tier 2 group
57,54550,Nut and seed butters and spreads,Meat and Protein Foods,"Nuts, nut butters, and seeds"
58,54550,"Bacon, sausage, and lunch meats",Meat and Protein Foods,"Bacon, sausage, and lunch meats"

In [21]:
food_prices_df.isna().sum()

EFPG_code       0
EFPG_name       0
Tier 1 group    0
Tier 2 group    0
dtype: int64

In [75]:
for col_food in ['Tier 1 group']:
    print(f"Names of foods group 1: {food_prices_df[col_food].unique()}")
    print("------------------------------------------------")
    print(f"Number of diferent foods group 1: {food_prices_df[col_food].nunique()}")

Names of foods group 1: ['Grains' 'Vegetables' 'Fruit' 'Dairy' 'Meat and Protein Foods'
 'Prepared meals, sides, and salads' 'Other foods']
------------------------------------------------
Number of diferent foods group 1: 7

In [74]:
for col_food in ['Tier 2 group']:
    print(f"Names of foods group 2: {food_prices_df[col_food].unique()}")
    print("-------------------------------------------------")
    print(f"Number of diferent foods group 2: {food_prices_df[col_food].nunique()}")

Names of foods group 2: ['Whole-grain breads, cereal, rice, pasta, and flours'
 'Non-whole-grain breads, cereal, rice, pasta, and flours' 'Potatoes'
 'Other starchy vegetables' 'Tomatoes' 'Other red and orange vegetables'
 'Dark green' 'Beans, lentils, peas, and legumes' 'Other/mixed vegetables'
 'Whole fruit' '100% fruit and vegetable juices'
 'Whole milk, yogurt, and cream'
 'Reduced-fat, low-fat, and skim milk, cream, and yogurt' 'Cheese'
 'Beef, pork, lamb, veal and game' 'Chicken, turkey, and game birds'
 'Fish and seafood' 'Nuts, nut butters, and seeds'
 'Bacon, sausage, and lunch meats' 'Egg and egg substitutes'
 'Tofu and meat substitutes' 'Ready-to-eat foods'
 'Frozen/refrigerated ready-to-heat foods'
 'Shelf-stable ready-to-heat foods and soups' 'Shelf-stable meal kits'
 'Fats, oils, and salad dressings'
 'Gravies, sauces, condiments, and spices' 'Beverages'
 'Desserts, sweets, and candies' 'Breakfast cereals' 'Savory snacks'
 'Vitamins and meal supplements' 'Baby food' 'Infant formula']
-------------------------------------------------
Number of diferent foods group 2: 34